# PowerShare
on boot
    chown system system /sys/class/power_supply/wireless/reverse_chg_mode

# UDFPS
on property:ro.boot.hwlevel=P0.1
    setprop persist.vendor.fingerprint.sensor_location 549|1925|99

on property:ro.boot.hwlevel=P1
    setprop persist.vendor.fingerprint.sensor_location 549|1925|99
